<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="bg-primary text-white p-5 rounded col-md-6 " >
        <h2 class="text-center">
            <img src="../assets/images/logo.svg" alt="Logo" width="80" height="80" class="me-2 logo-blanco">
        </h2>
        <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-primary me-3">Iniciar Sesión</button><!--
            <a href="/register" class="btn btn-dark">Registrarse</a>-->
        </form>
    </div>
</div>