<nav *ngIf="!isLoading" class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-primary px-5 py-3 ">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/accounts-list">
      <img src="../assets/images/logo.svg" alt="Logo" width="50" height="50" class="d-inline-block align-top me-2">
      <strong>Banca por internet</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/accounts-list">Cuentas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movements">Movimientos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/investment">Inversiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/currency">Divisas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/account">Mi Cuenta</a>
        </li>
      </ul>

      <button *ngIf="isLoggedIn" class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
</nav>
<div *ngIf="!isLoading" class="container module">
  <router-outlet></router-outlet>
</div>
<app-spinner *ngIf="isLoading"></app-spinner> 